# Introdução à Ciência de Dados - UFPB
Professor: Yuri Malheiros

## Pandas

A partir do dataset `movies.csv` utilize o Pandas para responder as seguintes perguntas:

In [108]:
import pandas as pd

filmes = pd.read_csv("movies.csv")
filmes

,Title,US Gross,Worldwide Gross,US DVD Sales,Production Budget,Release Date,MPAA Rating,Running Time (min),Distributor,Source,Major Genre,Creative Type,Director,Rotten Tomatoes Rating,IMDB Rating,IMDB Votes
0,The Land Girls,146083.0,146083.0,NaN,8000000.0,12-Jun-98,R,NaN,Gramercy,NaN,NaN,NaN,NaN,NaN,6.1,1071.0
1,"First Love, Last Rites",10876.0,10876.0,NaN,300000.0,7-Aug-98,R,NaN,Strand,NaN,Drama,NaN,NaN,NaN,6.9,207.0
2,I Married a Strange Person,203134.0,203134.0,NaN,250000.0,28-Aug-98,NaN,NaN,Lionsgate,NaN,Comedy,NaN,NaN,NaN,6.8,865.0
3,Let's Talk About Sex,373615.0,373615.0,NaN,300000.0,11-Sep-98,NaN,NaN,Fine Line,NaN,Comedy,NaN,NaN,13.0,NaN,NaN
4,Slam,1009819.0,1087521.0,NaN,1000000.0,9-Oct-98,R,NaN,Trimark,Original Screenplay,Drama,Contemporary Fiction,NaN,62.0,3.4,165.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3196,Zack and Miri Make a Porno,31452765.0,36851125.0,21240321.0,24000000.0,31-Oct-08,R,101.0,Weinstein Co.,Original Screenplay,Comedy,Contemporary Fiction,Kevin Smith,65.0,7.0,55687.0
3197,Zodiac,33080084.0,83080084.0,20983030.0,85000000.0,2-Mar-07,R,157.0,Paramount Pictures,Based on Book/Short Story,Thriller/Suspense,Dramatization,David Fincher,89.0,NaN,NaN
3198,Zoom,11989328.0,12506188.0,6679409.0,35000000.0,11-Aug-06,PG,NaN,Sony Pictures,Based on Comic/Graphic Novel,Adventure,Super Hero,Peter Hewitt,3.0,3.4,7424.0
3199,The Legend of Zorro,45575336.0,141475336.0,NaN,80000000.0,28-Oct-05,PG,129.0,Sony Pictures,Remake,Adventure,Historical Fiction,Martin Campbell,26.0,5.7,21161.0
3200,The Mask of Zorro,93828745.0,233700000.0,NaN,65000000.0,17-Jul-98,PG-13,136.0,Sony Pictures,Remake,Adventure,Historical Fiction,Martin Campbell,82.0,6.7,4789.0

### Qual o gênero de filme mais lucrativo em todo o mundo?

In [109]:
# ADICIONE O SEU CÓDIGO AQUI

genero = filmes.groupby("Major Genre").mean().sort_values(by="US DVD Sales", ascending=False)[["US DVD Sales"]]
genero.iloc[0:1]

             US DVD Sales
Major Genre
Adventure    6.646177e+07

### Qual o diretor dirigiu mais filmes?

In [110]:
# ADICIONE O SEU CÓDIGO AQUI

diretor = filmes["Director"].value_counts()
diretor.iloc[0:1]

Steven Spielberg    23
Name: Director, dtype: int64

### Quais filmes tiverem os maiores arrecadações (Gross) em relação ao orçamento de produção (Budget)?

In [111]:
# ADICIONE O SEU CÓDIGO AQUI

valor = filmes.sort_values("Title")[["Title", "Worldwide Gross", "Production Budget"]]
valor["Lucro"] = valor["Worldwide Gross"] - valor["Production Budget"]
valor_final = valor.sort_values("Lucro", ascending=False)
valor_final.iloc[0:21]

,Title,Worldwide Gross,Production Budget,Lucro
1234,Avatar,2.767891e+09,237000000.0,2.530891e+09
2970,Titanic,1.842880e+09,200000000.0,1.642880e+09
2202,The Lord of the Rings: The Return of the King,1.133027e+09,94000000.0,1.039027e+09
485,Jurassic Park,9.230679e+08,63000000.0,8.600679e+08
1975,Harry Potter and the Sorcerer's Stone,9.764579e+08,125000000.0,8.514579e+08
2741,Shrek 2,9.198388e+08,70000000.0,8.498388e+08
2987,Toy Story 3,1.046341e+09,200000000.0,8.463407e+08
2507,Pirates of the Caribbean: Dead Man's Chest,1.065660e+09,225000000.0,8.406598e+08
1266,The Dark Knight,1.022345e+09,185000000.0,8.373454e+08
2201,The Lord of the Rings: The Two Towers,9.262844e+08,94000000.0,8.322844e+08
1138,Alice in Wonderland,1.023291e+09,200000000.0,8.232911e+08
2883,Star Wars Ep. I: The Phantom Menace,9.242883e+08,115000000.0,8.092883e+08
2003,Ice Age: Dawn of the Dinosaurs,8.866859e+08,90000000.0,7.966859e+08
1973,Harry Potter and the Order of the Phoenix,9.384689e+08,150000000.0,7.884689e+08
912,Star Wars Ep. IV: A New Hope,7.979000e+08,11000000.0,7.869000e+08
296,ET: The Extra-Terrestrial,7.929106e+08,10500000.0,7.824106e+08
1970,Harry Potter and the Chamber of Secrets,8.789879e+08,100000000.0,7.789879e+08
1769,Finding Nemo,8.678943e+08,94000000.0,7.738943e+08
2203,The Lord of the Rings: The Fellowship of the Ring,8.686217e+08,109000000.0,7.596217e+08
1972,Harry Potter and the Goblet of Fire,8.960130e+08,150000000.0,7.460130e+08
455,Independence Day,8.174009e+08,75000000.0,7.424009e+08